/** @format */

.root-container {
}

/* generic classes */
.flex-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.y-flex-wrapper {
	flex-direction: column;
}

.border-box-sizing {
	box-sizing: border-box;
}

.smoothly-transitioned {
	transition: all 0.25s ease-in-out;
}
